html {
  font-size: 62.5%;
}

body {
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  color: #4f4e4e;
}

h1 {
  color: #f5f2f2;
  text-align: center;
  margin: 5rem 0;
}

label {
  font-weight: bold;
}

.container {
  background: #f5f2f2;
  width: 100%;
  max-width: 500px;
  border-radius: 1.5rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  border: 0.1rem solid #9e9e9e;
  border-radius: 0.5rem;
  background: #faf8f1;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.6rem;
}

.calculate-btn {
  min-height: 40px;
  width: 100%;
  border: none;
  background: #642b73;
  cursor: pointer;
  color: #faf8f1;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.result {
  margin-top: 2rem;
  font-weight: bold;
}
